/* Font style */
.fira-sans-normal {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

/* Nav style */
.nav {
    display: flex;
    max-width: 1280px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.nav-title {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.nav-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #006A50;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #006A50;
    color: white;
}

/* Main style */
.main-style {
    max-width: 1280px;
    margin: auto;
    background-color: #f5f5f5;
}

/* Banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;


}

.banner-content {
    max-width: 50%;

    margin: 61px 64px 117px 59.99px;



}

.banner-font1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px; 
    color: rgba(14, 14, 14, 0.5);
}

.banner-font2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 24px;
    color:rgba(14, 14, 14, 1);
}


.explore-button {
    padding: 10px 24px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.explore-button:hover {
    background-color: #004D38;
}

/* Image style */
.image-style {
    max-width: 474.03px;
    max-height: 400px;
    margin-left: 64px;
    margin-right: 59.99px;
    margin-top: 80px;
    margin-bottom: 80px;
 
}


/* The vision section styles */

.primary-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
    margin-bottom: 24px;
}
.primary-descp{

    font-size: 16px;
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.7);
    margin-top: 0px;
    margin-bottom: 32px;
    line-height: 24px;


}

.Vision{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 32px;
    margin-right: 24px;
    margin-bottom: 80px;
}

.card-1{

    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    margin-right: 24px;
    border-radius: 16px;
 
}

.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;

}

.card-descp{


    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);


}
.btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
}

.card-2{

    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    margin-right: 24px;
    border-radius: 16px;
 
}


.btn-2{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
}

.card-3{

    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    margin-right: 24px;
    border-radius: 16px;
 
}


.btn-3{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
}

/* Added hover on Cards and Button */
.btn-1:hover {
    background-color: #004D38;
}

.btn-2:hover {
    background-color: #004D38;
}
.btn-3:hover {
    background-color: #004D38;
}



.card-1:hover {
    background-color: #C6E4D6;
}

.card-2:hover {
    background-color: #C6E4D6;
}
.card-3:hover {
    background-color: #C6E4D6;
    color: white;
    
}



/* News section 1 style..... */

.news-section1{

    display: flex;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.sateliteimg{
    max-width: 408px;
    max-height: 306px;
    border-radius: 24px;
}


.news-sectiondiv1
{
  margin-left: 32px;
  


}
.news-sectiondiv2
{
    display: flex;
    margin-bottom: 1px;
}

.news-title{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0px;

}
.primary-newsdescp{

    font-size: 16px;
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.7);
    margin-top: 0px;
    line-height: 24px;


}
.al-jazeera{

    margin-bottom: 12px;
}

.newstimeline{
  margin-right: 12px;
}

.btn-news{
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    margin-top: 5px;
   
}

.btn-news:hover {
    background-color: #C6E4D6;
    color: black;
}




/* News section 2 style..... */

.news-section2{

    display: flex;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
    margin-top: 24px;
}

.sateliteimg{
    max-width: 408px;
    max-height: 306px;
    border-radius: 24px;
}


.news-section2div1
{
  margin-right: 32px;
  


}
.news-sectiondiv2
{
    display: flex;
    margin-bottom: 1px;
}

.news-title{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0px;

}
.primary-newsdescp{

    font-size: 16px;
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.7);
    margin-top: 0px;
    line-height: 24px;


}
.al-jazeera{

    margin-bottom: 12px;
}

.newstimeline{
  margin-right: 12px;
}

.btn-news{
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    margin-top: 5px;
   
}

.btn-news:hover {
    background-color: #C6E4D6;
    color: black;
}

   
    
.donate-sectiondiv1{
    
    justify-items: center;
    text-align: center;
    padding: 0px 88px;
    margin-top: 80px;
    

}

/* Taka card style ...*/

.taka-cards{
    display: flex;
    
    padding: 0 100px 0 100px;
    margin-bottom: 24px;
    gap: 24px;
   
    
   
}

.taka-card{
    
    align-items: center;
    padding: 20px 40px 20px 40px;
    border: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    justify-items: center;
    border-color: rgba(14, 14, 14, 0.15);
    background-color: white;
}


.taka-card:hover {
    background-color: #C6E4D6;
    color: black;
   
}

.taka-card2{

   
    padding: 20px 40px 20px 40px;
    border: solid;
    border-width: 1px;
    border-radius: 16px;
   
    border-color: rgba(14, 14, 14, 0.15);
    background-color: rgba(198, 228, 214, 1);

}
.taka-card2:hover {
    background-color: white;
    color: black;
   
}

.taka-card-title{
    font-size: 40px;
    font-weight: bold;
}



.formtype{

   justify-items: center;
 
   margin: 32px 124px 32px 124px;
   background-color: white;
}
input[type="text"] {

  border: none;
  width: 100%;
  padding: 20px;
  
}
input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400px;
}


.btn-style{

    display: flex;
    justify-content: center;
}
.btn-done{
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    align-items: center;
    
   
}
.btn-done:hover {
    background-color:#C6E4D6;
    color: black;




